
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* General Styles */
body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    background: linear-gradient(177deg, rgba(25,51,124,1) 0%, rgba(20,43,106,1) 15%, rgba(28,43,84,1) 52%, rgba(19,27,49,1),rgba(20,43,106,1) , rgba(20,43,106,1) 100%);
    line-height: 1.8;
}

.nav-menu {
    display: flex;
    margin-right: 3%;
}

.nav-menu h1{
    font-size: 24px;
    color: white;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 3px 6px;
    font-size: 15px;
}

.nav-menu .profile {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 3px 6px;
    font-size: 15px;
}

.nav-menu .signup-btn{
    margin-right: 10px;
    padding: 10px 20px;
}

.nav-menu a:hover {
    background-color: #FC5400;
    border-radius: 2px;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #131B31;
    border-bottom: 1px solid #3B9CF4;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-left: 10px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 15px;
}

/* Signup Button */
.signup-btn {
    padding: 10px 20px;
    background-color: #FC5400;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.signup-btn{
    margin-right: 10px;
    padding: 5px 10px;
}

.nav-menu .signup-btn:hover {
    background-color: transparent;
    border: 1px solid #FC5400;
    color: #FC5400;
}

.profile{
    position: relative;
    width: 35px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*About Us*/
.about-us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.hero-section {
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}

.hero-section h1, p{
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}

.hero-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5%;
}

.hero-section .highlight {
    color: #ffffff;
}

.hero-section p {
    font-size: 18px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.hero-section button {
    background-color: #FC5400;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5%;
}

.hero-section button:hover {
    background-color: #842c00;
}

.hero-section .team-photo {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

/* Metrics Section */
.metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.metric {
    text-align: center;
}

.metric h2 {
    font-size: 40px;
    color: #FC5400;
    margin-bottom: 10px;
}

/* Executives Section */
.executives {
    text-align: center;
    margin-bottom: 50px;
}

.executives h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #ffffff;
}

.executive-profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.executive-profile .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the profile picture round */
    object-fit: cover; /* Do not stretch the image */
    margin-right: 20px;
}

.executive-profile .profile-details {
    text-align: left;
}

.executive-profile .profile-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
}

.executive-profile .profile-details p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 32px;
    margin-right: 10px;
    transition: tr;
}

.social-icons a img:hover {
    opacity: 0.7;
}

/* Contact Section */
.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    background-color: #14213d;
    padding: 20px;
    border-radius: 8px;
}

.contact-info {
    flex: 1;
    padding-right: 20px;
}

.contact-info h1 {
    margin-top: 60px;
}

.contact-info ul {
    list-style: none;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info li img {
    width: 40px;
    margin-right: 10px;
}

.contact-info li span a{
    line-height: 1.5;
    color: #ffffff;
    text-decoration: none;
}

.social-media p {
    margin-top: 50px;
}

.social-media .icons a {
    display: inline-block;
    margin-right: 10px;
}

.contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.contact-form span {
    color: red;
}

.contact-form input,
.contact-form textarea {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}

.contact-form .name-fields {
    display: flex;
    gap: 10px;
}

.contact-form .name-fields input {
    flex: 1;
}

.contact-form button {
    background-color: #FC5400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #a1400f;
}

.icons img {
    width: 50px;
}

.icons img:hover {
    transform: scale(1.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}

/* Footer Section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    flex-wrap: wrap;
    align-items: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quick-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.social-media-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.social-media-links li {
    display: inline-block;
}

.social-media-links a {
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media-links a:hover {
    color: #fff;
}

/* Additional hover effect */
.social-media-links a:hover i {
    transform: scale(1.4);
    transition: transform 0.3s;
}

.quick-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.quick-links a:hover {
    color: #fff;
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}
