
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=SUSE:wght@100..800&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #131B31;
}

.nav-menu {
    display: flex;
    margin-right: 3%;
}

.nav-menu h1{
    font-size: 24px;
    color: white;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 3px 6px;
    font-size: 15px;
}

.nav-menu .profile {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 3px 6px;
    font-size: 15px;
}

.nav-menu .signup-btn{
    margin-right: 10px;
    padding: 10px 20px;
}

.nav-menu a:hover {
    background-color: #FC5400;
    border-radius: 2px;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #131B31;
    border-bottom: 1px solid #3B9CF4;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-left: 10px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 15px;
}

/* Signup Button */
.signup-btn {
    padding: 10px 20px;
    background-color: #FC5400;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.signup-btn{
    margin-right: 10px;
    padding: 5px 10px;
}

.nav-menu .signup-btn:hover {
    background-color: transparent;
    border: 1px solid #FC5400;
    color: #FC5400;
}

.profile{
    position: relative;
    width: 35px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Header (Hero) Section */
.hero {
    position: relative;
    background-image: url('/image/library1.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    letter-spacing: 5px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Post Grid */
.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.post-item {
    background-color: #131B31;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.post-item img {
    width: 100%;
    border-radius: 10px;
}

.post-item h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #ffffff;
}

.post-item p {
    font-size: 14px;
    color: #ffffff;
}

.post-item:hover {
    transform: translateY(-10px);
}

/* Additional Content */
.additional-content {
    margin-top: 40px;
    text-align: center;
}

.additional-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.additional-content img {
    width: 90%;
    height: auto;
    border-radius: 10px;

}

/* Footer Section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    flex-wrap: wrap;
    align-items: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quick-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.social-media-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.social-media-links li {
    display: inline-block;
}

.social-media-links a {
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media-links a:hover {
    color: #fff;
}

/* Additional hover effect */
.social-media-links a:hover i {
    transform: scale(1.4);
    transition: transform 0.3s;
}

.quick-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.quick-links a:hover {
    color: #fff;
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}
