:root {
    --orange: #fd722c;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --darkblue: #131B31;
    --dlue: #243460;
  
  }

.dashboard {
    max-width: 800px;
    margin: auto;
    background: var(--darkblue);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.dashboard h1 {
    text-align: center;
    color: var(--grey);
}

.section {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--darkblue);
}

.section label {
    display: block;
    margin: 10px 0 5px;
    color: var(--grey);
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--grey);
}

button {
    background-color: #007bff; /* Blue button */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#upload-message {
    margin-top: 15px;
    color: #28a745; /* Green color for success messages */
}